@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=JetBrains+Mono:wght@400;500;700&family=Space+Grotesk:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-primary: #002B7F;
  --color-brand-secondary: #5E68C4;
  --color-brand-teal: #12BAA9;
  --color-brand-light: #A5DDE2;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-display: "Space Grotesk", sans-serif;
}
